        body {
            font-family: 'Open Sans', sans-serif;
            background-color: rgba(255,255,255,1);
            color: rgba(33,33,33,1);
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: rgba(27,117,187,1);
            color: rgba(255,255,255,1);
            text-align: center;
            padding: 20px;
        }
        .menu {
            background-color: rgba(0,0,0,0.8);
            padding: 10px;
            text-align: center;
        }
        .menu a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            display: inline-block;
        }
        .menu a:hover {
            background-color: rgba(255,255,255,0.2);
        }
        .menu-toggle {
            display: none;
            font-size: 24px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            padding: 10px;
        }
        .menu-container {
            display: flex;
            justify-content: center;
        }
        .container {
            text-align: center;
            width: 80%;
            margin: auto;
            padding: 20px;
        }
        .button {
            background-color: rgba(27,117,187,1);
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 10px;
        }
        .button-group {
            margin-top: 20px;
        }
        .button-group .button {
            display: block;
            margin: 10px auto;
            width: 200px;
        }
        @media screen and (max-width: 768px) {
            .menu {
                display: none;
                flex-direction: column;
                text-align: left;
            }
            .menu a {
                display: block;
                padding: 10px;
                border-bottom: 1px solid rgba(255,255,255,0.2);
            }
            .menu-toggle {
                display: block;
                background-color: rgba(0,0,0,0.8);
                width: 100%;
                text-align: left;
            }
        }
         table {
              width: 60%;
              border-collapse: collapse;
              margin: auto;
       }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        img {
            width: 24px;
            height: 24px;
            display: block;
            margin: auto;
        }
	.footer-image {
    background-color: rgba(27, 117, 187, 1); /* Mesma cor de fundo do header */
    color: rgba(255, 255, 255, 1); /* Mesma cor do texto do header */
    display: flex; /* Usa Flexbox para criar colunas */
    align-items: center; /* Centraliza verticalmente */
    padding: 0px; /* Espaçamento interno */
    width: 100%; /* Ocupa toda a largura */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional para destacar */
    /* position: fixed; Fixa o rodapé na parte inferior */
    bottom: 0; /* Alinha o rodapé na parte inferior */
    left: 0; /* Alinha o rodapé à esquerda */
}

.footer-text {
    text-align: center; /* Centraliza o texto */
    flex: 1; /* Ocupa o espaço disponível */
    font-size: 13px; /* Tamanho da fonte menor */
    line-height: 0.2; /* Espaçamento entre linhas menor */
    padding: 10px; /* Espaçamento interno para melhorar a aparência */
}
        .important-info {
            background-color: rgba(242, 242, 242, 1);
            padding: 20px;
            margin: 40px; /* Margem de 40px em todos os lados */
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .important-info h2 {
            color: rgba(27, 117, 187, 1);
            font-family: 'Oswald', sans-serif;
            margin-bottom: 15px;
        }
        .important-info p1 {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.6;
            color: rgba(33, 33, 33, 1);
            text-align: justify; /* Justifica o texto */
        }
      
